<div class="research-list">
  {% for topic in site.data.research_topics %}
    <div class="research-box clearfix">
      <h2>{{ topic.title }}</h2>

      {% if topic.image %}
        {% if topic.type == "centered" %}
          <div class="research-img-center">
            <img src="{{ topic.image | prepend: site.baseurl }}" alt="{{ topic.title }}">
            {% if topic.caption %}
              <div class="caption">{{ topic.caption | markdownify | remove: '<p>' | remove: '</p>' }}</div>
            {% endif %}
          </div>
        {% else %}
          <div class="research-img-box">
            <img src="{{ topic.image | prepend: site.baseurl }}" alt="{{ topic.title }}">
            {% if topic.caption %}
              <div class="caption">{{ topic.caption | markdownify | remove: '<p>' | remove: '</p>' }}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      <div class="research-text">
        {{ topic.content | markdownify }}
      </div>
    </div>
  {% endfor %}
</div>
